.main {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 8px;
}

.dominant {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.video {
  height: 100%;
}

.normal {
  flex: 1
}

.alone {
  width: 100%;
}

.participants {
  display: flex;
  flex: 1;
  justify-content: center;
}

.participants.small {
  flex-basis: 30%;
  flex-direction: column;
}